.container {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  object-fit: contain;
}

.canvas {
  position: absolute;
  top: 0;
	left: 0;
}

.content {
  object-fit: cover;
}